STRIPE_SECRET_KEY=sk_test_REEMPLAZA_CON_TU_CLAVE_SECRETA
STRIPE_PUBLISHABLE_KEY=pk_test_REEMPLAZA_CON_TU_CLAVE_PUBLICA
STRIPE_WEBHOOK_SECRET=whsec_REEMPLAZA_CON_TU_WEBHOOK_SECRET
ALLOWED_ORIGIN=http://localhost:5000

DB_HOST=db
DB_PORT=3306
DB_NAME=kodeo-website
DB_USER=kodeo
DB_PASSWORD=kodeopass

# Autenticación OAuth
GOOGLE_CLIENT_ID=
FIREBASE_PROJECT_ID=kodeoweb-c4691

# JWT
JWT_SECRET=cambia_esto_en_produccion_usa_algo_aleatorio_y_seguro
