STRIPE_SECRET_KEY=sk_test_REEMPLAZA_CON_TU_CLAVE_SECRETA
STRIPE_PUBLISHABLE_KEY=pk_test_REEMPLAZA_CON_TU_CLAVE_PUBLICA
STRIPE_WEBHOOK_SECRET=whsec_REEMPLAZA_CON_TU_WEBHOOK_SECRET
ALLOWED_ORIGIN=http://localhost:5000

DB_HOST=db
DB_PORT=3306
DB_NAME=kodeo-website
DB_USER=kodeo
DB_PASSWORD=kodeopass
